body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightgray
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: darkgray;
}

.expense-form {
    display: flex;
    flex-direction: column;
}

.expense-form label {
    margin-bottom: 5px;
}

.expense-form input[type="text"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    border-radius: 4px;
}

.expense-form input[type="submit"] {
    padding: 10px;
    background-color: mediumseagreen;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.expense-list {
    max-width: 600px;
    margin: 50px auto;
    background-color: white;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.expense-item {
    padding: 10px;
    background-color: lightgray;
    border-bottom: 1px solid lightgray;
}

.expense-item:last-child {
    border-bottom: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background: #f2f2f2;
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #e0e0e0;
}